* {
  box-sizing: border-box;
}
.put {
  background-color: #0e3e4b;
  color: #fff;
  padding: 20px;
  text-align: center;

  width: 100%;
  bottom: 0;
}
.put p {
  color: #f8f8f8;
}
.navbar {
  background-color: #0e3e4b;
  color: #f8f8f8;
}
.make {
  color: #0ac2ff;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

p {
  margin: 0;
  color: rgb(7, 0, 7);
}
.container p {
  color: black;
}

.icon {
  margin-right: 50px;
}
h2 {
  text-align: center;
  color: #f9fbfc;
}
h4 {
  margin-top: 40px;
  background: #5fb9cf;
  width: 100%;
  font-size: 18px;
  padding-top: 5px;
  text-align: center;
  height: 60px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h4 {
    margin-top: 180px;
    background: #5fb9cf;
    width: 100%;
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
    height: 60px;
  }
}
@media only screen and (min-width: 1030px) {
  h4 {
    margin-top: 30px;
    background: linear-gradient(to bottom, #fbfbfc 13%, #0e3e4b 72%);

    width: 100%;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
    height: 60px;
    color: black;
  }
  .maybe {
    margin-top: -100px;
    height: 100vh;
  }
}
#page1conteneur {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  padding: 7px;
}
@media only screen and (min-width: 270px) and (max-width: 800px) {
  #page1conteneur {
    margin-top: 80px;
  }
  .if {
    margin-top: 150px;
  }
  h4 {
    display: none;
  }
  .contents .cn {
    width: 260px;
    height: 40px;
    background: #012d38;
    color: aliceblue;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 5%;
  }
}
.gallery p {
  color: #f9fcfd;
}

.service img {
  height: auto;
  padding: 20px, 20px, 20px, 20px;
  margin: 20px, 20px, 20px, 20px;
  border-spacing: 10px, 10px, 10px, 10px;
}

.gallery a {
  display: block;
  background-color: #0e3e4b;
  color: #fff;
  padding: 5px 8px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.service a:hover {
  background-color: #fffcfc;
  color: #0e3e4b;
  cursor: pointer;
}
.contents {
  width: 100%;
  height: 80vh;
  margin: auto;
  color: rgb(7, 0, 0);
  position: relative;
  background: rgba(0, 0, 0, 0.397);
  margin-top: -20%;
}
.contents p {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
  color: #fff;
}
.contents h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  padding-left: 20px;
  padding-top: 10%;
  margin-top: 20%;
  letter-spacing: 2px;
}
.container p {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;

  line-height: 30px;
  color: #000;
}
.container .cn {
  width: 100px;
  height: 30px;
  background: #012d38;
  color: aliceblue;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.4s ease;
  margin-bottom: 20px;
  margin-top: 20px;
}
.container .cn a {
  text-decoration: none;
  color: #f6f6f7;
  transition: 0.3s ease;
}
.cn:hover {
  background: rgb(23, 69, 131);
}
.contents span {
  color: #f9fcfd;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bold;
}

.get {
  background-color: #dee0e0;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -40px;
  font-weight: bold;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input,
select,
textarea {
  width: 48%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.hello {
  width: 50%;
  background-color: #012d38;
  color: #fdfdfd;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset;
}
hr {
  color: #012d38;
}
input[type="submit"]:hover {
  background-color: #3e8e41;
}
.get h1 {
  font-weight: bold;
  color: #000;
  margin-top: 20px;
}
.if {
  font-weight: bold;
  font-size: 50px;
}

.gallery {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  white-space: nowrap;
  position: relative;
}

.gallery img {
  width: 200px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
  object-fit: cover;
}

.logo-slide {
  display: inline-block;

  animation: 20s slide infinite linear;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.gallery:hover .logo-slide {
  animation-play-state: paused;
}
.gallery::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0)) #e2e3e4;
  position: absolute;
  top: 0;

  width: 200px;
  height: 150px;
  content: "";
  z-index: 2;
}

.gallery::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0)) #d1d5d6;
  position: absolute;
  top: 0;

  width: 200px;
  height: 150px;
  content: "";
  z-index: 2;
}

.footer {
  background-color: #f6f8f8;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.contain {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo {
  font-weight: bold;
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon a {
  margin: 0 10px;
  font-size: 40px;

  transition: color 0.2s ease;
}

.icon a:hover {
  color: #0a0000;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-col {
  width: 45%;
}

.footer-col h4 {
  margin-bottom: 10px;
}

.footer-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 5px;
}

.footer-bottom {
  padding: 20px 20px 20px 20px;
  text-align: center;
  background: #012d38;
  width: 100%;
  margin-bottom: none;
  font-size: medium;
}

.footer-bottom p {
  margin: 0;
}

@media (max-width: 600px) {
  .footer-col {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .icon {
    justify-content: center;
  }
}
